body {
    background: url('../assets/bakgrund.png') repeat;
    margin: 0;
    padding: 0;
    text-align: center;
    flex-direction: column;
    height: 100vh;
}

.view-profile-page__menu-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.view-profile-page__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    padding: 20px;
}

.view-profile-page__avatar {
    width: 130px;
    height: 130px;
    background: white;
    border-radius: 50%;
    margin: 0 auto 30px;
    position: relative;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.view-profile-page__avatar:hover {
    transform: scale(1.15);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
}

.view-profile-page__avatar img {
    width: 40px;
    height: 60px;
    object-fit: contain;
    position: absolute;
    ;

}

.view-profile-page__button {
    width: 40%;
    padding: 18px;
    font-size: 1em;
    font-weight: bold;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #353131;
    border-radius: 5px;

}

.view-profile-page__logout {
    width: 20%;
    padding: 15px;
    font-size: 1em;
    font-weight: bold;
    border: none;
    cursor: pointer;
    color: #353131;
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
}

.profile__user-icon {
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 0 auto 20px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.profile__user-icon:hover {
    transform: scale(1.15);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
}

.profile__user-icon img {
    width: auto;
    height: 60%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
}

@media screen and (max-width: 390px) {


    body {
        height: auto;
        min-height: 100vh;
    }

    .view-profile-page__button {
        width: 80%;
        padding: 14px;
        font-size: 0.9em;
    }

    .view-profile-page__logout {
        width: 40%;
        padding: 12px;
        font-size: 0.9em;
    }

    .view-profile-page__avatar {
        width: 100px;
        height: 100px;
        margin: 0 auto 20px;
    }

    .view-profile-page__avatar img {
        width: 35px;
        height: 50px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .profile__user-icon {
        width: 80px;
        height: 80px;
        margin: 0 auto 15px;
    }

    .profile__user-icon img {
        height: 50%;
    }

    .view-profile-page__content {
        gap: 12px;
        padding: 15px;
    }
}